jobs:
 - job: 'farmhash_cpp'
   pool:
     vmImage: ubuntu-16.04
   steps:
    - checkout: self
      submodules: recursive
    - script: 'cd Farmhash.Benchmarks && make benchmark-farmhash'
      displayName: make
 - job: 'net_classic'
   pool:
     vmImage: windows-2019
   steps:
    - task: NuGetCommand@2
      inputs:
        command: 'restore'
        restoreSolution: 'Farmhash.Sharp/Farmhash.Sharp.csproj'
        restoreDirectory: '../packages'
    - task: MSBuild@1
      inputs:
        solution: 'Farmhash.Sharp/Farmhash.Sharp.csproj'
        msbuildArguments: '/p:TargetFramework=netstandard1.0'
    - task: NuGetCommand@2
      inputs:
        command: 'restore'
        restoreSolution: 'Classic/packages.config'
        restoreDirectory: '../packages'
    - task: MSBuild@1
      inputs:
        solution: 'Classic/Classic.csproj'
    - task: VSTest@2
      inputs:
        testSelector: 'testAssemblies'
        testAssemblyVer2: |
          **\Classic.dll
          !**\obj\**
        searchFolder: '$(System.DefaultWorkingDirectory)'
 - job: 'net_core'
   strategy:
     matrix:
       netstandard1:
         target_framework: netstandard1.0
       netstandard2:
         target_framework: netstandard2.0
       netcoreapp2:
         target_framework: netcoreapp2.1
   pool:
     vmImage: ubuntu-16.04
   steps:
     - task: DotNetCoreInstaller@0
       inputs:
         version: '2.2.105'
     - script: dotnet build -f $TARGET_FRAMEWORK Farmhash.Sharp/Farmhash.Sharp.csproj
     - script: dotnet test /p:Exclude="[xunit*]*" /p:CollectCoverage=true /p:CoverletOutputFormat=cobertura --logger:xunit Farmhash.Sharp.Tests/Farmhash.Sharp.Tests.csproj
     - task: PublishTestResults@2
       inputs:
         testResultsFormat: 'xUnit'
         testResultsFiles: '**/Farmhash.Sharp.Tests/TestResults/TestResults.xml'
     - task: PublishCodeCoverageResults@1
       inputs:
         codeCoverageTool: cobertura
         summaryFileLocation: Farmhash.Sharp.Tests/coverage.cobertura.xml
