source https://nuget.org/api/v2

nuget BenchmarkDotNet
nuget CityHash.Net
nuget FSharp.Formatting
nuget NUnit ~> 2
nuget NUnit.Runners ~> 2
nuget FAKE
nuget SourceLink.Fake
nuget System.Data.HashFunction.CityHash
nuget System.Data.HashFunction.SpookyHash
nuget xxHashSharp
nuget SpookilySharp

github fsharp/FAKE modules/Octokit/Octokit.fsx